<div class="row page-titles mx-0">
  <div class="col p-md-0">
    <ol class="breadcrumb" style="float:left">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Chức năng</a></li>
      <li class="breadcrumb-item active"><a [routerLink]="['/sanpham']">Nhân viên</a></li>
    </ol>
  </div>
</div>
<!-- row -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Quản lý nhân viên</h3>
          <div class="table-responsive">


           <!-- form search ----------------------------------------------->

						<form [formGroup]="frmSearch" class="form-horizontal" (ngSubmit)="LoadData(this.pageSize)" >
              
							<div class="row">
			  
							  <div class="form-group" style="display: flex;">
								<label class="col-lg-4 control-label" style="text-align: center;padding-top: 10px;">Tên nhân viên:</label>
								<div class="col-lg-6 control-label">
								  <input formControlName="txt_hoten" style="height: 10px;border-radius: 0.5rem;" type="text" class="form-control" >
								</div>
								<!-- <div class="col-lg-6">
								  <input formControlName="txt_mota" style="height: 10px;width: 200px;" type="text" class="form-control" placeholder="mota">
								</div> -->
								
								<div class="col-lg-4 control-label">
								  <button type="submit" class="btn btn-primary"><i class="icon-search4 position-right"></i> Tìm kiếm</button>
								</div>
							  </div> 
							  
							</div>
							
						  </form>
						<!-- form search ----------------------------------------------->
            <div style="margin-bottom: 30px;">
							<div class="heading-elements" style="display: flex;justify-content: space-between;">
							  <!-- <div class="heading-btn-group btn-primary" style="width:150px">
								<a (click)="themModal()" class="btn btn-link btn-float has-text"><i
									class="icon-plus22 text-primary"></i><span>Thêm</span></a>
							  </div>  -->
							  <button (click)="modalThemNhanVien()" style="float: left;" _ngcontent-fds-c8="" class="btn btn-primary pull-right mat-raised-button" mat-raised-button="" type="submit">
								<i class="fa fa-plus" style="margin-right: 5px;"></i>
								<span  class="mat-button-wrapper">Thêm nhân viên</span>
								<div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
							  </button>

							  <select style="border-radius: 5px;" class="name" (ngModelChange)="LoadData($event)" [(ngModel)]="pageSize">
								<option value="5">5</option>
								<option value="10">10</option>
								<option value="15">15</option> 
								<option value="20">20</option>
							</select>
							</div>
						</div>

            <!-- Basic datatable -->
            <div class="panel panel-flat">
            
              <table class="table table-hover table-bordered">
                <thead style=" background-color: #f2f2f9;">
                  <!-- <tr>
										<th>Nhập sản phẩm</th>
									</tr> -->
                  <tr>
                    <th>Họ tên</th>
                    <th>Giới tính</th>
                    <th>Ngày sinh </th>
                    <th>Địa chỉ</th>
                    <th>SĐT</th>
                    <th>Email</th>
                    <th>Avatar</th>



                    <!-- <th>Trạng thái</th> -->
                    <th class="text-center">Chức năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let sp of list_nhanviens ">

                    <td>{{sp.hoTen}}</td>
                    <!-- <td><div [innerHTML]="sp.moTaSanPham"></div></td> -->
                    <td>{{sp.gioiTinh}}</td>
                    <td>{{sp.ngaySinh| date:'dd/MM/yyyy'}}</td>
                    <td>{{sp.diaChi}}</td>
                    <td>{{sp.sdt}}</td>
                    <td>{{sp.email}}</td>
                    <td><img style="height: 70px;width: 70px;" src="http://localhost:2701/{{sp.anhDaiDien}}"></td>

                    <!-- <td><span class="label label-success">Active</span></td> -->
                    <td class="text-center">
                      <ul class="icons-list">
                        <li><a (click)="suaModal(sp.idNguoiDung)"><i class="ti-write"></i></a></li>
                        <li><a (click)="xoaNhanvien(sp.idNguoiDung)"><i class="ti-eraser"></i></a>
                        </li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>

            </div>
            <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize"
              [collectionSize]="totalItem">
            </ngb-pagination>
            <!-- enddatatable -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #/ container -->


<!-- Large modal -->
<div *ngIf="hienThiModal" class="modal fade" id="hienthiModal">
  <div class="modal-dialog modal-lg" style="max-width: 1000px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h5 class="modal-title">Nhân viên</h5>
      </div>
      <hr>
      <form *ngIf="okForm" [formGroup]="frmNhanVien" (ngSubmit)="OnSubmit(frmNhanVien.value)" class="form-horizontal">
        <div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">


          <div class="row">
            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Họ tên<span style="color:red ;">*</span></label>
              <div class="col-lg-12">
                <input formControlName="txt_hoten" type="text" class="form-control">
                <div *ngIf="hoten.invalid && (hoten.dirty || hoten.touched)">
                  <div *ngIf="hoten.errors?.['required']" style="color:red ;">Không được
                    để trống
                  </div>
                  <div *ngIf="hoten.errors?.['minlength']" style="color:red ;">
                    Tên nhân viên không được nhỏ hơn 3 ký tự
                  </div>
                  <div *ngIf="hoten.errors?.['maxlength']" style="color:red ;">
                    Tên nhân viên không được lớn hơn 50 ký tự
                  </div>
                </div>
              </div>
            </div>



            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Giới tính<span style="color:red ;">*</span>:</label>
              <div class="col-lg-12">
                <select formControlName="txt_gioitinh" [(ngModel)]="gt" class="form-control"
                  (change)="changeGioiTinh($event)">
                  <option value="Nam">Nam</option>
                  <option value="Nữ">Nữ</option>
                </select>
              </div>
            </div>
          </div>



          <div class="row">

            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Ngày Sinh<span style="color:red ;">*</span>:</label>

              <div class="col-lg-12">
                <input formControlName="txt_ngaysinh" type="date" class="form-control" >
                <div *ngIf="ngaysinh.invalid && (ngaysinh.dirty || ngaysinh.touched)">
                  <div *ngIf="ngaysinh.errors?.['required']" style="color:red ;">Ngày sinh không được rỗng
                  </div>
                </div>

              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Địa chỉ<span style="color:red ;">*</span>:</label>

              <div class="col-lg-12">
                <input formControlName="txt_diachi" type="text" class="form-control">
                <div *ngIf="diachi.invalid && (diachi.dirty || diachi.touched)">
                  <div *ngIf="diachi.errors?.['required']" style="color:red ;">Địa chỉ không được rỗng
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="row">

            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">SDT<span style="color:red ;">*</span></label>
              <div class="col-lg-12">
                <input formControlName="txt_sdt" type="text" class="form-control">
                <div *ngIf="sdt.invalid && (sdt.dirty || sdt.touched)">
                  <div *ngIf="sdt.errors?.['required']" style="color:red ;">SDT không được rỗng
                  </div>
                  <div *ngIf="sdt.errors?.['pattern']" style="color:red ;">Không đúng định dạng SĐT(Không có chữ,10 chữ số)
                  </div>
                </div>
              </div>
            </div>

            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Email:</label>
              <div class="col-lg-12">
                <input formControlName="txt_email" type="text" class="form-control">
                <div *ngIf="email.invalid && (email.dirty || email.touched)">
                  <div *ngIf="email.errors?.['required']" style="color:red ;">Email không được rỗng
                  </div>
                  <div *ngIf="email.errors?.['pattern']" style="color:red ;">Không đúng định dạng email(__@__.com)
                  </div>
                </div>
              </div>
            </div>
          </div>

            
            <hr>
            <div class="modal-footer">
              <button type="button" class="btn btn-link" (click)="dongModal()">Đóng</button>
              <div *ngIf="isCreate==true">
                <button type="submit" class="btn btn-primary"  >Lưu lại</button>

              </div>
              <div *ngIf="isCreate==false">
               

              </div>
            </div>
          

        </div>

      </form>
    </div>
  </div>
</div>
<!-- /large modal -->