<!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
      <div class="loader">
          <svg class="circular" viewBox="25 25 50 50">
              <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
          </svg>
      </div>
  </div>
  <!--*******************
      Preloader end
  ********************-->

  
  <!--**********************************
      Main wrapper start
  ***********************************-->
  <div id="main-wrapper">
 <!--**********************************
      Navbar
  ***********************************-->
      <app-navbar></app-navbar>

       <!--**********************************
      End Navbar
  ***********************************-->

      <!--**********************************
          Sidebar start
      ***********************************-->
      <app-sidebar></app-sidebar>
      <!--**********************************
          Sidebar end
      ***********************************-->

      <!--**********************************
          Content body start
      ***********************************-->
      <div class="content-body">

        <router-outlet></router-outlet>

         
          <!-- #/ container -->
      </div>
      <!--**********************************
          Content body end
      ***********************************-->
      
      
      <!--**********************************
          Footer start
      ***********************************-->
      <div class="footer">
          <div class="copyright">
              <p>Trang quản trị <a href="#">HODU Sport</a> by LeTruong</p>
          </div>
      </div>
      <!--**********************************
          Footer end
      ***********************************-->
  </div>
  <!--**********************************
      Main wrapper end
  ***********************************-->