<div class="row page-titles mx-0">
	<div class="col p-md-0">
	  <ol class="breadcrumb" style="background-color: transparent; float: left;">
		<li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
		<li class="breadcrumb-item active"><a href="javascript:void(0)">Role</a></li>
	  </ol>
	</div>
  </div>
  <!-- row -->
  
  <div class="container-fluid">
	<div class="row">
	  <div class="col-12">
		<div class="card">
		  <div class="card-body">
			<h3 class="card-title">Quản lý Role</h3>
			<div class="table-responsive">
  
			  <!-- form search ----------------------------------------------->
  
			  <form [formGroup]="frmSearch" class="form-horizontal" (ngSubmit)="LoadData($event)" >
				
				<div class="row">
  
				  <div class="form-group" style="display: flex;">
					<label class="col-lg-4 control-label" style="text-align: center;padding-top: 10px;">Tên Role:</label>
					<div class="col-lg-6 control-label">
					  <input formControlName="txt_tenrole" style="height: 10px;border-radius: 0.5rem;" type="text" class="form-control" >
					</div>
					<!-- <div class="col-lg-6">
					  <input formControlName="txt_mota" style="height: 10px;width: 200px;" type="text" class="form-control" placeholder="mota">
					</div> -->
					
					<div class="col-lg-4 control-label">
					  <button type="submit" class="btn btn-primary"><i class="icon-search4 position-right"></i> Tìm kiếm</button>
					</div>
				  </div> 
				  
				</div>
				
			  </form>
  
			  <div style="margin-bottom: 30px;">
				<div class="heading-elements" >
				  <!-- <div class="heading-btn-group btn-primary" style="width:150px">
					<a (click)="themModal()" class="btn btn-link btn-float has-text"><i
						class="icon-plus22 text-primary"></i><span>Thêm</span></a>
				  </div>  -->
				  <button (click)="themModal()" style="float: left;" _ngcontent-fds-c8="" class="btn btn-primary pull-right mat-raised-button" mat-raised-button="" type="submit">
					<i class="fa fa-plus" style="margin-right: 5px;"></i>
					<span  class="mat-button-wrapper">Thêm role</span>
					<div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
				  </button>
				</div>
			  </div>
			  <!-- form search ----------------------------------------------->
  
			  <!-- Basic datatable -->
			  <div class="panel panel-flat" >
				
				
			   
  
				
  
				<div style="height: 30px;">
  
				</div>
				<select class="name" (ngModelChange)="LoadData($event)" [(ngModel)]="pageSize">
				  <option value="2">2</option>
				  <option value="3">3</option>
				  <option value="4">4</option> 
				  <option value="5">5</option>
			  </select>
				<table class="table table-hover table-bordered" >
				  <thead style=" background-color: #f2f2f9;">
					<tr>
					  <th >Tên Role</th>
					  <th >Mô Tả</th>
					 
					  
					  <!-- <th>Trạng thái</th> -->
					  <th class="text-center">Chức năng</th>
					</tr>
				  </thead>
				  <tbody>
					<tr *ngFor="let r of list_roles">
					  <td>{{r.name}}</td>
					  <td>{{r.description}}</td>
					  
					  
					  <!-- <td><span class="label" [class.label-success]="nsx.trangThai == 1" [class.label-danger]="nsx.trangThai== 0">{{ nsx.trangThai == 1 ? 'Active' : 'NoActive' }}</span></td> -->
					  <!-- <td><div [innerHTML]="nsx.moTa"></div></td> -->
					 
					  <!-- <td><span class="label label-success">Active</span></td> -->
  
					  <td class="text-center">
						<div class="icons-list" >
						  <a (click)="suaModal(r.id)" ><i class="ti-write"></i></a>
						  <a (click)="xoaModal(r.name)"><i class="icon-trash"></i></a>
						</div>
					  </td>
					</tr>
				  </tbody>
				</table>
			  </div>
			  <!-- enddatatable -->
			  <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="tongsp">
			  </ngb-pagination>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>
  <!-- #/ container -->
  
  
  <!-- Large modal -->
  <div *ngIf="hienThiModal" class="modal fade" id="hienthiModal">
	  <div class="modal-dialog modal-lg" style="max-width: 900px;">
		  <div class="modal-content">
			  <div class="modal-header">
				  <button type="button" class="close" data-dismiss="modal">&times;</button>
				  <h5 class="modal-title">User</h5>
			  </div>
			  <hr>
			  <form *ngIf="okForm" [formGroup]="frmRole" (ngSubmit)="OnSubmit(frmRole.value)"
				  class="form-horizontal">
				  <div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
					

						<div class="form-group col-md-6">
							<label class="col-lg-12 control-label">Tên Role<span style="color:red ;">*</span></label>
							<div class="col-lg-12">
								<input formControlName="txt_name" type="text" class="form-control" >
								<div *ngIf="name.invalid && (name.dirty || name.touched)">
									<div *ngIf="name.errors?.['required']" style="color:red ;">name không được rỗng</div>
									<div *ngIf="name.errors?.['minlength']" style="color:red ;">
										name không được nhỏ hơn 2 ký tự
									</div>
									<div *ngIf="name.errors?.['maxlength']" style="color:red ;">
										Tên không được lớn hơn 15 ký tự
									</div>
								</div>
							</div>
						</div>


						<div class="form-group col-md-6">
							<label class="col-lg-12 control-label">Mô tả<span style="color:red ;">*</span></label>
							<div class="col-lg-12">
								<input formControlName="txt_description" type="text" class="form-control" >
								<div *ngIf="description.invalid && (description.dirty || description.touched)">
									<div *ngIf="description.errors?.['minlength']" style="color:red ;">
										Password không được nhỏ hơn 6 ký tự
									</div>
									<div *ngIf="description.errors?.['maxlength']" style="color:red ;">
										Password không được lớn hơn 15 ký tự
									</div>
								</div>
							</div>
						</div>

					</div>
					

				  <hr>
				  <div class="modal-footer">
					  <button type="button" class="btn btn-link" (click)="dongModal()">Đóng</button>
					  <button type="submit" class="btn btn-primary" >Lưu lại</button>
				  </div>
			  </form>
		  </div>
	  </div>
  </div>
  <!-- /large modal -->


  