 <!-- Breadcrumb Section Begin -->
 <div class="breacrumb-section">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="breadcrumb-text">
                  <a href="#"><i class="fa fa-home"></i> Home</a>
                  <span>Về chúng tôi</span>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Breadcrumb Section Begin -->

<!-- Map Section Begin -->
<div class="map spad">
  <div class="container">
      <div class="map-inner">
          <!-- <iframe
              src="https://www.google.com/maps/place/Hodu+Store/@16.0344558,108.2175652,17z/data=!4m16!1m9!3m8!1s0x3142197cbeb2b9ad:0x8aa9f2c7eb3634b3!2sHodu+Store!8m2!3d16.0344558!4d108.2201401!9m1!1b1!16s%2Fg%2F11k01c03df!3m5!1s0x3142197cbeb2b9ad:0x8aa9f2c7eb3634b3!8m2!3d16.0344558!4d108.2201401!16s%2Fg%2F11k01c03df?hl=en&entry=ttu"
              height="610" style="border:0" allowfullscreen="">
          </iframe> -->
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3834.597482338517!2d108.2175652!3d16.0344558!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3142197cbeb2b9ad%3A0x8aa9f2c7eb3634b3!2sHodu%20Store!5e0!3m2!1sen!2s!4v1685500564259!5m2!1sen!2s" 
          height="610" style="border:0" allowfullscreen=""
          ></iframe>
      </div>
  </div>
</div>
<!-- Map Section Begin -->

<!-- Contact Section Begin -->
<section class="contact-section spad">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="contact-title">
                  <h4>Giới thiệu HODU Sport</h4>
                  <p>HODU Sport - Thời Trang Thể Thao Chính Hãng

                    HODU Sport là thương hiệu Thời Trang Thể Thao Chính Hãng được phát triển bởi Công ty Cổ phần Thương mại & Dịch vụ SNV Group. HODU Sport cung cấp các sản phẩm thời trang thể thao chính hãng đến từ các thương hiệu nổi tiếng trên thế giới như: Adidas, Nike, Puma, Reebok, Prada,... trên nền tảng trang thương mại điện tử hodusport.com. 
                    
                    Xuất phát từ niềm đam mê luyện tập hàng ngày và các hoạt động thể thao, từ những trăn trở khi gặp chấn thương vì sử dụng trang phục và dụng cụ thể thao không phù hợp, HODU Sport cung cấp những sản phẩm chính hãng, chất lượng cao cấp. 
                    
                    Chúng tôi tin rằng từ việc chuẩn bị kỹ lưỡng trước khi luyện tập sẽ giúp bạn có một trải nghiệm tuyệt vời và là niềm cảm hứng tập luyện hàng ngày cho bạn. Không chỉ mang đến những sản phẩm thời trang phong cách thể thao năng động mà còn góp phần định hình một phong cách sống hiện đại và tích cực.
                    
                    Trang web hodusport.com giúp bạn có trải nghiệm mua sắm ĐƠN GIẢN - TIỆN LỢI - NHANH CHÓNG chỉ trong vài click chuột. Tất cả những gì bạn cần làm là nhấp chuột đặt hàng và HODU Sport sẽ hoàn thành phần còn lại để những sản phẩm hàng hiệu cao cấp được chuyển đến tận tay khách hàng.
                    
                    Chúng tôi không ngừng cải thiện để cung cấp cho khách hàng những trải nghiệm mua sắm Online tốt nhất. 
                    
                    Đội ngũ HODU Sport!</p>
              </div>
              <div class="contact-widget">
                  <div class="cw-item">
                      <div class="ci-icon">
                          <i class="ti-location-pin"></i>
                      </div>
                      <div class="ci-text">
                          <span>Địa chỉ:</span>
                          <p>49 Tố Hữu, Hải Châu, Đà Nẵng</p>
                      </div>
                  </div>
                  <div class="cw-item">
                      <div class="ci-icon">
                          <i class="ti-mobile"></i>
                      </div>
                      <div class="ci-text">
                          <span>Số điện thoại:</span>
                          <p>0379517032</p>
                      </div>
                  </div>
                  <div class="cw-item">
                      <div class="ci-icon">
                          <i class="ti-email"></i>
                      </div>
                      <div class="ci-text">
                          <span>Email:</span>
                          <p>hodusport@gmail.com</p>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</section>
<!-- Contact Section End -->