<!-- Register Section Begin -->
<div class="register-login-section spad">
  <div class="container">
    <div class="register-form">
      <h2>THANH TOÁN THÀNH CÔNG</h2>
      <form action="#" >
        

       
        <div class="row">
          <h2 style="    margin-left: 184px;">Cảm ơn quý khách đã ủng hộ cho HODU SPORT !</h2>
        </div>
        <div >
          <div [routerLink]="['/']" style="cursor: pointer;">Quay trở lại trang chủ</div>
        </div>
      
      </form>
      
    </div>



    <!-- <div *ngIf="message!='Success'" class="register-form" style="text-align: center;">
      <h2>THANH TOÁN THẤT BẠI</h2>
      <div>
        Rất xin lỗi vì sự cố này, mong quý khách thông cảm. Quý khách có thể thanh toán bằng cách khác.
      </div>
      <div style="color: rgb(245, 130, 14);cursor: pointer;" [routerLink]="['/shopping/checkout']">
        Quay trở lại trang thanh toán
      </div>
    </div> -->

    
  </div>
</div>
<div style="margin-bottom: 500px;">

</div>
<!-- Register Form Section End -->

