<div class="row page-titles mx-0">
  <div class="col p-md-0">
    <ol class="breadcrumb" style="background-color: transparent; float: left;">
      <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
      <li class="breadcrumb-item active"><a href="javascript:void(0)">Hóa đơn nhập</a></li>
    </ol>
  </div>
</div>
<!-- row -->

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h3 class="card-title">Quản lý hóa đơn nhập</h3>
          <div class="table-responsive">

            <!-- form search ----------------------------------------------->

            <form [formGroup]="frmSearch" class="form-horizontal" (ngSubmit)="LoadData(this.pageSize)" >
              
              <div class="row">

                <div class="form-group" style="display: flex;">
                  <label class="col-lg-4 control-label" style="text-align: center;padding-top: 10px;">Tên nhà cung cấp:</label>
                  <div class="col-lg-6 control-label">
                    <input formControlName="txt_tennhacungcap" style="height: 10px;border-radius: 0.5rem;" type="text" class="form-control" >
                  </div>
                  <!-- <div class="col-lg-6">
                    <input formControlName="txt_mota" style="height: 10px;width: 200px;" type="text" class="form-control" placeholder="mota">
                  </div> -->
                  
                  <div class="col-lg-4 control-label">
                    <button type="submit" class="btn btn-primary"><i class="icon-search4 position-right"></i> Tìm kiếm</button>
                  </div>
                </div> 
                
              </div>
              
            </form>

            <div style="margin-bottom: 30px;">
              <div class="heading-elements" >
                <!-- <div class="heading-btn-group btn-primary" style="width:150px">
                  <a (click)="themModal()" class="btn btn-link btn-float has-text"><i
                      class="icon-plus22 text-primary"></i><span>Thêm</span></a>
                </div>  -->
                <button style="float: left;" _ngcontent-fds-c8="" class="btn btn-primary pull-right mat-raised-button" mat-raised-button="" type="submit">
                  <i class="fa fa-plus" style="margin-right: 5px;"></i>
                  <span  class="mat-button-wrapper">Nhập sản phẩm</span>
                  <div class="mat-button-ripple mat-ripple" matripple=""></div><div class="mat-button-focus-overlay"></div>
                </button>
              </div>
            </div>
            <!-- form search ----------------------------------------------->
            <div style="margin-bottom: 30px;">
              <div class="heading-elements" style="display: flex;justify-content: end;">
               
                  <select style="height: 36px;width: 38px;border-radius: 5px;" class="name" (ngModelChange)="LoadData($event)" [(ngModel)]="pageSize">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option> 
                    <option value="20">20</option>
                  </select>
              </div>
            </div>

            <!-- Basic datatable -->
            <div class="panel panel-flat" >
              
              
             

              

      
              
              <table class="table table-hover table-bordered" >
                <thead style=" background-color: #f2f2f9;">
                  <tr>
                    <th >Nhân viên</th>
             
                    
                    <th >Nhà cung cấp</th>
                    <th >Ghi chú</th>
                    <th >Tổng tiền</th>
                    <th >Trạng thái thanh toán</th>
                    <th >Ngày tạo</th>
                    <th >Ngày cập nhật</th>
                    
                    <!-- <th>Trạng thái</th> -->
                    <th class="text-center">Chức năng</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let hdn of list_hoadonnhaps">
                    <td>{{hdn.tenNguoiDung}}</td>
                    
                    <td>{{hdn.tenNhaCungCap}}</td>
                    <td>{{hdn.ghiChu}}</td>
                    <td>{{hdn.tongTien.toLocaleString()}}</td>
                    <td><span class="label" [class.label-success]="hdn.trangThaiHoaDonNhap == 1" [class.label-danger]="hdn.trangThaiHoaDonNhap == 0">{{ hdn.trangThaiHoaDonNhap == 1 ? 'Đã thanh toán' : 'Chưa thanh toán' }}</span></td>
                    <td>{{hdn.ngayNhap| date:'dd/MM/yyyy'}}</td>
                    <td>{{hdn.ngayCapNhat| date:'dd/MM/yyyy'}}</td>
                    <!-- <td><div [innerHTML]="hdn.moTa"></div></td> -->
                   
                    <!-- <td><span class="label label-success">Active</span></td> -->

                    <td class="text-center">
                      <div class="icons-list" >
                        <a (click)="suaModal(hdn.idHoaDonNhap)" ><i class="ti-write"></i></a>
                        <!-- <a (click)="xoaDM(hdn.idHoaDonNhap)"><i class="icon-trash"></i></a> -->
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- enddatatable -->
            <ngb-pagination (pageChange)="loadPage($event)" [(page)]="page" [pageSize]="pageSize" [collectionSize]="totalItem">
            </ngb-pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- #/ container -->


<!-- Large modal -->
<div *ngIf="hienThiModal" class="modal fade" id="hienthiModal">
	<div class="modal-dialog modal-lg">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h5 class="modal-title">Hóa Đơn Nhập</h5>
			</div>
			<hr>
			<form *ngIf="okForm" [formGroup]="frmHoaDonNhap" (ngSubmit)="OnSubmit(frmHoaDonNhap.value)"
				class="form-horizontal">
				<div class="modal-body" style="padding-left: 50px !important; padding-right:50px !important;">
          <div class="row">

            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Nhân viên<span style="color:red ;">*</span></label>
              <div class="col-lg-12">
                <input formControlName="txt_nhanvien"  type="text" class="form-control" placeholder="Tên nhân vien" readonly>
                
              </div>
            </div>
            <div class="form-group col-md-6" >
              <label class="col-lg-12 control-label">Sản phẩm<span style="color:red ;">*</span>:</label>
  
              <div class="col-lg-12">
                <input  [ngModel]="tenSP" type="text" class="form-control" placeholder="Sản phẩm" [ngModelOptions]="{standalone: true}" readonly>

                
              </div>
            </div>
          </div>
					
          <div class="row">

            <div class="form-group col-md-6">
              <label class="col-lg-12 control-label">Nhà Cung Cấp<span style="color:red ;">*</span>:</label>
              <div class="col-lg-12">
                <input formControlName="txt_nhacungcap"  type="text" class="form-control" readonly>
                
              </div>
            </div>
            
  
            <div class="form-group col-md-6" >
              <label class="col-lg-12 control-label">Tổng tiền hóa đơn<span style="color:red ;">*</span>:</label>
  
              <div class="col-lg-12">
                <input formControlName="txt_tongtien"  type="text" class="form-control" readonly>
                
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group col-md-6" >
              <label class="col-lg-12 control-label">Trạng thái<span style="color:red ;">*</span>:</label>
  
                <div class="col-lg-12">
                  <select formControlName="txt_trangthaihoadonnhap"  [(ngModel)]="id_trangthaihoadonnhap" class="form-control" (change)="changeTrangThai($event)">
                    <option [value]=1>Đã thanh toán</option>
                    <option [value]=0>Chưa thanh toán</option>
                  </select>
                </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-md-6" >
              <label class="col-lg-12 control-label">Chi tiết sản phẩm<span style="color:red ;">*</span>:</label>
  
              <div class="col-lg-12">
								<tr *ngFor="let sp of list_cthdn" style="display: flex;justify-content: space-around;">
									<td>{{sp.tenSanPham}}</td>
									<td>{{sp.tenMau}}</td>
									<td>{{sp.size}}</td>
									<td>{{sp.soLuong}}</td>
									<td>{{sp.giaNhap}}</td>
								</tr>
							</div>
            </div>
          </div>
          
          
					

				</div>
				<hr>
				<div class="modal-footer">
					<button type="button" class="btn btn-link" (click)="dongModal()">Đóng</button>
					<button type="submit" class="btn btn-primary" [disabled]="frmHoaDonNhap.invalid">Lưu lại</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!-- /large modal -->